# Rust
target/

# UniFFI / Bindings
# We ignore the generated artifacts, but we check in the Project
# that references their paths.
ios/Bindings/

# Swift / iOS
ios/build/
.build
*.ipa
*.dSYM.zip
*.dSYM
buildServer.json

# Xcode User Data (User-specific settings inside the project)
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# macOS
.DS_Store
*.pem

# Env
.env*

# Dependencies
node_modules/
