# dependencies
node_modules/

# env
.env*

# Swift
*.xcodeproj
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.hmap
ios/build
ios/Bindings

# Rust
target

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# generated native folders
/*/cpp
/*/ios
/*/android

# FFI Generation
app-ffi/*
!app-ffi/package.json
!app-ffi/*.yaml
